/***** MEDIA QUERIES *****/

/* Menu adjustment */
@media screen and (max-width: 1205px) {
    a.main-nav {
        margin-right: 18px;
    }
}
@media screen and (max-width: 1167px) {
    a.socials {
        margin-right: 1px;
    }
    a.main-nav {
        margin-right: 15px;
    }
}
@media screen and (max-width: 992px) {
    #logo {
        left: 4%;
    }
}

/***** Mobile ******/
@media screen and (max-width: 767px) {
    #top-bar{
        padding-top: 4px;
    }
    #nav-bar {
        position: absolute;
        margin: 0;
        z-index: 100;
        display: none;
        right:0;
        top: 40px;
        width: 200px;
        height: 300px;
        border: 1px solid #ccc;
    }
    #nav-bar li {
        float: none;
    }
    #menu-container {
        padding-left: 0;
    }
    a.main-nav {
        margin: 0;
        padding: 5px 0 5px 0;
        border-bottom: 1px solid #ccc;
    }
    
    a.main-nav:hover {
        color: #aaa; 
    }
    a.socials {
        float: left;
    }
    a.socials:hover{
        -webkit-transform: none;
        -o-transform: none;
        transform: none;
    }
}
