/***** MEDIA QUERIES *****/

/* Menu adjustment */
@media screen and (max-width: 1205px) {
    a.main-nav {
        margin-right: 18px;
    }
}
@media screen and (max-width: 1167px) {
    a.socials {
        margin-right: 1px;
    }
    a.main-nav {
        margin-right: 15px;
    }
    #menu-container {
        padding-left: 0;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    #top-bar {
        padding-top: 5px;
        height: 50px;
        box-shadow: 0 15px 15px -15px gray;
    }
    #nav-bar {
        position: absolute;
        display: none;
        margin: 0;
        z-index: 100;      
        right: 0px;
        left: auto;
        top: 50px;
        width: 250px;
        height: auto;
        border: 1px solid #ccc;
        -moz-box-shadow: -5px 5px 30px 0px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: -5px 5px 30px 0px rgba(0, 0, 0, 0.6);
        box-shadow: -10px 5px 30px -10px rgba(0, 0, 0, 0.6);
    }
    #nav-bar li {
        float: none;
    }
    #nav-bar li > ul {
        box-shadow: none;
    }
    #menu-container {
        padding: 0;
    }
    a.main-nav {
        margin: 0;
        padding: 10px 15px 10px 30px;
        border-bottom: 1px solid #ccc;
        transition: none;
    }
    a.main-nav:hover, a.main-nav:active {
        color: #888; 
    }
    #nav-bar li > ul {
        position: relative;
        z-index: inherit;
        margin: 0;
        padding: 0;
        display: none;
        line-height: 30px;
        background-color: #f5f5f5;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        opacity: 1;
        filter: alpha(opacity=1);
        visibility: visible;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
    }
    #nav-bar li > ul a {
        margin: 0;
        padding: 10px 15px 10px 45px;
        display: block;
        color: #3e2423;
        text-decoration: none;
        border-bottom: 1px solid #ccc;
        transition: none;
    }
    #nav-bar li > ul a:hover {
        background-color: #ddd;
        border-bottom-color: #ddd;
    }
    a.socials {
        float: left;
        margin-right: 15px;
    }
    a.socials:hover {
        -webkit-transform: none;
        -o-transform: none;
        transform: none;
    }   
    #socials-container {
        margin: 0;
        padding: 15px 15px 15px 30px;
    }   
    .button-action {
        width: 230px;
        font-size: 14px;
    }
    #footer {
        font-size: 14px;
    }
    
}

@media screen and (max-width: 600px){
    .button-action {
        width: 210px;
    }
}