/**
 * Virtuemart Overrides for template "Eeasylife" 
*/

/* Общий контейнер детального представления товара */
.productdetails {
    padding: 100px 30px 30px 30px;
    text-align: center;
    font-size: 18px;
}

.productdetails-view .product-short-description {
    margin: 0 0 30px;
}

/* Контейнер с изображениями */
.vm-product-details-container,
.vm-product-container .vm-product-media-container,
.product-price,
.addtocart-area {
    width: 100%;
}

/* Модальное окно с изображением */
#facebox {
    width: 70%;
}
#facebox .content {
    width: inherit;
}
#facebox img {
    max-width: 100%;
}

/* Главное изображение товара на день */
.main-image img {
    max-height: 100%;
}

/* Изображение шага */
.step-image {
    display: inline-block;
}
.step-image img {
    max-height: 100px; 
}

.main-image img:hover,
.step-image img:hover {
    box-shadow: 0 15px 15px -15px gray,
                15px 0 15px -15px gray,
                -15px 0 15px -15px gray;
}

/* Скрываем регулятор кол-ва товара возле кнопки "Добавить в корзину"*/
.quantity-box,
.quantity-controls,
.quantity-input {
    display: none;
}

/* Контейнер с ценой и кнопкой добавления в корзину */
.vm-product-details-container {
    float: none;
}

/* Кнопка "Добавить в корзину" и контейнер для нее */
.productdetails-view .addtocart-bar {
    margin: 30px 0 30px;
    text-align: center;
}
span.addtocart-button input.addtocart-button, 
span.addtocart-button input.notify-button {
    padding: 15px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #3e2423;
    line-height: 18px;
    background-color: #ff9900;
    border-radius: 50px;
    border-color: transparent;
}
span.addtocart-button input.addtocart-button:hover, 
span.addtocart-button input.notify-button:hover {
    color: #3e2423;
}

/* Таблица с блюдом на день */
table.day {
    max-width: 80%;
    text-align: left;
    border-color: transparent;
    border-collapse: separate;
    border-spacing: 15px;
}
table.day td {
    vertical-align: top;
}