/**
 * Virtuemart Overrides for template "Eeasylife" 
*/
.productdetails {
    padding: 0 30px;
    text-align: center;
    font-size: 16px;
}

.productdetails h1,
.productdetails h2,
.productdetails h3 {
    margin: 120px 0 30px;
}

.productdetails-view .product-short-description {
    margin: 0 0 30px;
}